$primary: #212121 ;
$secondary: #424242 ;
$tertiary: #757575;

$bg-primary: #3f51b5;
$bg-secondary: #2196f3;

$bg-info: #03a9f4;
$bg-success: #00c853;
$bg-error: #e53935;
$bg-warning: #ff9800;

$main: #eceff1;
$inverse-main: #546e7a;
